[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
flake8 = "*"
model-mommy = "*"
pytest-cov = "*"

[packages]
collectfast = "*"
dj-database-url = "*"
django = "==4.2.4"
django-debug-toolbar = "*"
django-ordered-model = "*"
django-s3-folder-storage = "*"
gunicorn = "*"
psycopg2-binary = "*"
pytest-django = "*"
python-decouple = "*"
sentry-sdk = "*"

[requires]
python_version = "3.9"
